.error-message {
  color: #e14eca;
  font-size: 0.5em;
  margin: auto;
  padding: 0.8em;
}

.input-group .pass {
  border-right: 0 none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}