<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="navigate()">
                            Ajouter
                        </button>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Service
                                    </th>
                                    <th>
                                        Date debut
                                    </th>
                                    <th>
                                        Date fin
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Reduction
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let offer of offers">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            {{offer.dateDebut}}
                                        </td>
                                        <td>
                                            {{offer.dateFin}}
                                        </td>
                                        <td>
                                            {{offer.description}}
                                        </td>
                                        <td class="text-primary">
                                            -{{offer.reduction}}%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>