.error-message {
  color: #e14eca;
  font-size: 0.5em;
  margin: auto;
  padding: 0.8em;
}
.dz-error-message {
  color: #e14eca;
  margin: auto;
  padding: 0.8em;
  text-align: center;
}


.dropzone {
  background-color: transparent;
  border-radius: 0.5em;
  border-color: #2b3553;
}
