<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">

        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img class="img-center img-fluid rounded-circle" src="assets/img/mike.jpg" />

              <h4 class="title">Jean Aimé</h4>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Rendez-vous">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Date</th>
                          <th class="header">services</th>
                          <th class="header">employé</th>
                          <th class="header">reste à payer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Jeudi 12 février 2023</td>
                          <td>patati patata patata patata patata patata</td>
                          <td>Jean</td>
                          <td>10000</td>
                          <td>
                            <button class="btn btn-default btn-icon mr-1" type="button">
                              <i class="tim-icons icon-settings-gear-63"> </i>
                            </button>
                            <button class="btn btn-danger btn-icon mr-1" type="button">
                              <i class="tim-icons icon-trash-simple"> </i>
                            </button>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Préférences">
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Pay to </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input class="form-control" placeholder="e.g. 1Nasd92348hU984353hfid" type="text" />

                        <span class="form-text">
                          Please enter a valid address.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-sm-3 col-form-label"> Amount </label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input class="form-control" placeholder="1.587" type="text" />
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-simple btn-danger btn-icon btn-round float-right" type="submit">
                    <i class="tim-icons icon-send"> </i>
                  </button>
                </tab>
                <tab heading="Mon profil">
                  <div class="table-responsive">
                    <table class="table tablesorter" id="plain-table">
                      <thead class="text-danger">
                        <tr>
                          <th class="header">Latest Crypto News</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>The Daily: Nexo to Pay on Stable...</td>
                        </tr>
                        <tr>
                          <td>Venezuela Begins Public of Nation...</td>
                        </tr>
                        <tr>
                          <td>PR: BitCanna â Dutch Blockchain...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">

    </div>
  </div>
</div>