<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">MANJATIANA•</h1>
        <!-- <h3>
          Salon de beauté Manjatiana, vous rendre Manja est notre priorité. (on fera de notre mieux)
        </h3> -->
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-signup" id="appointment">
      <div class="container">
        <div class="squares square-1"></div>
        <div class="squares square-2"></div>
        <div class="squares square-3"></div>
        <div class="squares square-4"></div>
        <div class="row row-grid justify-content-between">
          <div class="col-lg-6">

            <h3 class="display-3 text-white">
              Prennez rendez-vous:
            </h3>
            <p class="text-white mb-3">
              Choisissez la date, les services que vous souhaitez, ainsi que votre employé préféré si vous le
              souhaitez.
              Tout ça en quelques clics.
            </p>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="card card-register">

              <div class="card-body">
                <form class="form" (ngSubmit)="submitForm()">

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-calendar-60"> </i>
                      </div>
                    </div>
                    <input class="form-control" type="datetime-local" name="date" [(ngModel)]="formData.date"
                      required />
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"> </i>
                      </div>
                    </div>
                    <select class="form-control" name="employee" [(ngModel)]="formData.employee">
                      <option [ngValue]="null" class="form-control">
                        Non spécifié
                      </option>
                      <option [ngValue]="employee._id" class="form-control" *ngFor="let employee of employees;"
                        [selected]="employees[0]._id">
                        {{ employee.firstName }} {{employee.lastName }}
                      </option>

                    </select>
                  </div>
                  <hr />

                  <p class="category">Veuillez choisir les Services</p>
                  <span class="category">Total: {{ totalPrice | currency }}</span>

                  <div class="row" *ngIf="services">
                    <div class="col-md-6" *ngFor="let service of services">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox"
                            (change)="updateSelectedServices(service, $event.target.checked)" />
                          <span class="form-check-sign"> </span> {{service.name}}
                        </label>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <!-- <div class="input-group">
                    <span class="category">Avance (mobile money)</span>
                    <bSwitch [switch-on-color]="'blue'" [switch-on-text]="'oui'" [switch-off-text]="'non'"
                      [switch-off-color]="'danger'" [(ngModel)]="isSwitchOn" name="bswitch"></bSwitch>
                  </div> -->
                  <!-- <div *ngIf="isSwitchOn">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input class="form-control" placeholder="Numero" type="text" pattern="[0-9]{10}"
                        title="Please enter a valid phone number (10 digits)" name="numero"
                        [(ngModel)]="formData.numero" required />
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-money-coins"> </i>
                        </div>
                      </div>
                      <input class="form-control" placeholder="Montant" type="number" name="paid"
                        [(ngModel)]="formData.paid" />
                    </div>
                  </div> -->
                  <alert *ngIf="error" class="alert-with-icon" [type]="'warning alert-with-icon'" [dismissible]="true">
                    <span class="tim-icons icon-alert-circle-exc" data-notify="icon"> </span>
                    <span>
                      <b> Oups! </b> {{message}}
                    </span>
                  </alert>
                  <alert *ngIf="success" class="alert-with-icon" [type]="'success alert-with-icon'"
                    [dismissible]="true">
                    <span class="tim-icons icon-check-2" data-notify="icon"> </span>
                    <span>
                      <b> Yay! </b> {{message}}
                    </span>
                  </alert>
                  <div class="input-group">
                    <input class="btn btn-danger btn-round btn-lg" type="submit" value="Valider" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-tabs">
      <div class="container">
        <div class="title">
          <h3 class="mb-3">Actualités</h3>
        </div>
        <div class="row">
          <div class="col-md-12 ml-auto col-xl-12 mr-auto">
            <div class="card">
              <div class="card-header">
                <tabset class="nav-tabs-danger">
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-gift-2"> </i> Offres
                      <span class="text-danger">{{offers?.length}}</span>

                    </ng-template>
                    <div class="row" *ngIf="offers && offers.length > 0; else noOffers">
                      <div class="col-lg-4 mb-lg-auto" *ngFor="let offer of offers">
                        <div class="card card-register">
                          <div class="card-body">

                            <div class="card">
                              <div class="text-center card-body">
                                <p class="text-white font-weight-light">{{offer.description}}</p>
                                <h3 class="text-danger font-weight-light">-{{offer.reduction}}%</h3>
                                <p class="text-warning font-weight-light">Expire {{offer.dateFin | relativeTime}}</p>
                              </div>
                            </div>
                            <ul>
                              <li *ngFor="let service of offer.services">
                                <p class="text-white mt-4">{{service.name}}</p>
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer text-center">
                            <button class="btn btn-warning btn-round mr-1" type="button"
                              (click)="setSelectedServices(offer.services,offer.reduction)">
                              Prendre rendez-vous
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #noOffers>
                      <div class="text-muted text-center">
                        <p>Aucune offre pour le moment.</p>
                      </div>
                    </ng-template>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-alert-circle-exc"> </i> Today
                      <span class="text-danger">{{todaysRdv?.length}}</span>
                    </ng-template>

                    <div class="row" *ngIf="todaysRdv && todaysRdv.length > 0; else noRdv">
                      <div class="col-lg-4 mb-lg-auto" *ngFor="let rdv of todaysRdv">
                        <div class="card card-register">
                          <div class="card-body">
                            <h3 class="text-warning font-weight-light">{{rdv.date | relativeTime}}</h3>
                            <h4 class="text-white font-weight-light">Avec {{rdv.employee.firstName}}
                              {{rdv.employee.lastName}}:</h4>

                            <ul>
                              <li *ngFor="let service of rdv.services">
                                <p class="text-white mt-4">{{service.name}}</p>
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <button class="btn btn-warning btn-round mr-1" type="button" data-target="#myModal1"
                              (click)="myModal1.show();tempId(rdv._id)">
                              Annuler
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #noRdv>
                      <div class="text-muted text-center">
                        <p>Aucun rendez-vous</p>
                      </div>
                    </ng-template>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <i class="tim-icons icon-notes"> </i> historique
                    </ng-template>
                    <div *ngIf="history && history.length > 0; else noHistory" class="scrollable-table-container"
                      (scroll)="onContainerScroll()">
                      <table class="table" id="plain-table">
                        <thead class="text-danger">
                          <tr>
                            <th class="header"><button class="btn btn-link btn-danger mr-1"
                                (click)="flipDateSort()">Date</button></th>
                            <th class="header">services</th>
                            <th class="header">employé</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let rdv of history">
                            <td>{{rdv.date | relativeTime}}</td>
                            <td>
                              <ul>
                                <li *ngFor="let service of rdv.services">
                                  <p class="text-white mt-4">{{service.name}}</p>
                                </li>
                              </ul>
                            </td>
                            <td>{{rdv.employee.firstName}} {{rdv.employee.lastName}}</td>

                          </tr>
                        </tbody>
                      </table>

                    </div>
                    <ng-template #noHistory>
                      <div class="text-muted text-center">
                        <p>Aucun rendez-vous</p>
                      </div>


                    </ng-template>
                  </tab>

                </tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div aria-hidden="true" aria-labelledby="myModalLabel" bsModal
        class="modal fade modal-mini modal-warning modal-mini" #myModal1="bs-modal" id="myModal1" role="dialog"
        tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <p>Supprimer ce rendez-vous?</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-link btn-neutral" type="button" (click)="delete();myModal1.hide()">Oui</button>
              <button class="btn btn-link btn-neutral" data-dismiss="modal" type="button"
                (click)="myModal1.hide();tempId('')">
                Annuler
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>